################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FormsWSR2018/.vs/FormsWSR2018/v16/Server/sqlite3/db.lock
/FormsWSR2018/.vs/FormsWSR2018/v16/Server/sqlite3/storage.ide
/FormsWSR2018/.vs/FormsWSR2018/v16/Server/sqlite3/storage.ide-shm
/FormsWSR2018/.vs/FormsWSR2018/v16/Server/sqlite3/storage.ide-wal
